### Production Environments and Data Recovery

{{companyShortName}} assumes that in the worst-case scenario, that one of the
production environments suffers a complete data loss, the account will be
reconstructed from code, and the data restored from Glacier that is hosted
within a different Azure account and geolocation.

Production data is to be synchronized across multiple VMWare hosts, devices 
and sites to achieve fault tollerence virtually hosted environments, including web, application, and data services.

### SPECIFY BACKUP RULES AND DURATIONS (14 days)

### SPECIFY BACKUP AND RETENTION OF REGULATED SYSTEMS WITHIN THE ENVIRONMENT

### Capicity Planning Plan (HISTORICAL TRENDS)

Recovery of production Environments and data should follow the procedures listed
above and in [Data Management - Backup and Recovery](data-mgmt.md#cp-data-backup)

### Office 365 data will be backed up via xxx, this includes SharePoint, Teams, and such. This does not include xxx.

### Local desktop data is replicated to the OneDrive cloud under user account and control.