### Production Infrastructure Recovery

In the event a {{companyShortName}} core infrastructure failure, including physical network, virtual host, monitoring devices, and other tools required to provide services within Buncombe County, Infrastructure / Operations teams will work to restore services as rapidly as possible. Many of these core services are designed to be Highly Availabe by design, allowing for a safety margin around system failure and restoration. 

While a single side of a HA system is down, the County will be operating at risk, and in a degraded state. Restoration of the HA pairs across the enterprise

### Periodic backup of base configurations of infrastructure devices
### Core infrastructure device configurations are stored in x and routinely updated (how frequent).

### Configuraiton Management intersection

### Router, Swtich, and Firewall configuraiton and rules... 

{{companyShortName}}’s software development organization has the ability to work
from any location with Internet access and does not require an office provided
Internet connection.